networks:
  default:

services:
  db:
    image: postgres:latest
    expose:
      - "5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      start_period: 5s
      start_interval: 1s
      interval: 5s
      timeout: 5s
      retries: 3
    networks:
      - default
    env_file:
      - db.env

  backend:
    build: .
    ports:
      - "8080:8080"
    networks:
      - default
    depends_on:
      db:
        condition: "service_healthy"
    stdin_open: true
    tty: true